{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load lexi_extras %}
{% block page_title %}{% trans "Edit lending" %}: {{ object.book_title }}{% endblock %}
{% block title %}{% trans "Edit lending" %} <small>{{ object.book_title }}</small>{% endblock %}
{% block main_container %}
    {% trans "Edit" as button_text %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% lending_form form button_text %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}