{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load lexi_extras %}
{% block page_title %}{% trans "Lending added" %}{% endblock %}
{% block title %}{% trans "Lending added" %}{% endblock %}
{% block main_container %}
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info">
                {% blocktrans %}Book "{{ book_title }}" has been lended to {% endblocktrans %}
                {% if perms.lending.add_lending %}<a href="{% url 'users-current-lendings' lending_user.id %}" class="alert-link">{{ lending_user.first_name }} {{ lending_user.last_name }}</a>{% else %}{{ lending_user.first_name }} {{ lending_user.last_name }}{% endif %}.
            </div>
        </div>
    </div>
{% endblock %}