{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load library_extras %}
{% block page_title %}{% trans "Lending added" %}{% endblock %}
{% block title %}{% trans "Lending added" %}{% endblock %}
{% block main_container %}
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info">
                {% blocktrans %}Book "{{ book_title }}" has been lended to {% endblocktrans %}<a href="{% url 'users-current-lendings' username %}">{{ username }}</a>.
            </div>
        </div>
    </div>
{% endblock %}