{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load lexi_extras %}
{% block page_title %}{% trans "Lendings" %}{% endblock %}
{% block title %}{% trans "Lendings" %}{% endblock %}
{% block main_container %}
    {% simple_search %}
    <div class="row">
        <div class="col-md-12">
            {% if object_list %}
                    {% if search_performed %}
                        <div class="alert alert-info">
                            {% trans "Here are the search results:" %}</div>
                    {% endif %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Book item" %}</th>
                                <th>{% trans "User" %}</th>
                                <th>{% trans "Start date" %}</th>
                                <th>{% trans "End date" %}</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lending in object_list %}
                                <tr {% if lending.end_date == None %}class="info"{% endif %}>
                                    <td><a href="{% url 'view-lending' lending.id %}">
                                    {{ lending.book_item }}</a></td>
                                    <td><a href="{% url 'users-current-lendings' lending.user.id %}">
                                        {{ lending.user.first_name }} {{ lending.user.last_name }}</a></td>
                                    <td>{{ lending.start_date }}</td>
                                    <td>{{ lending.end_date|default_if_none:"----" }}</td>
                                    <td><a href="{% url 'edit-lending' lending.id %}" class="btn btn-default"
                                    role="button">
                                    {% trans "Edit" %}</a></td>
                                    <td><a href="{% url 'finish-lending' lending.id %}"
                                    class="btn btn-default" role="button"
                                    {% if lending.end_date != None %}disabled="disabled"{% endif %}>
                                    {% trans "Finish lending" %}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% elif search_performed %}
                <div class="alert alert-danger">{% trans "No lendings found." %}</div>
            {% endif %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="row">
            <div class="col-md-12">
                {% pagination page_obj queries %}
            </div>
        </div>
    {% endif %}
{% endblock %}
