{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load library_extras %}
{% block page_title %}{% trans "New lending" %}{% endblock %}
{% block title %}{% trans "New lending" %}: {{ book.title }}{% endblock %}
{% block main_container %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" action="" method="post">{% csrf_token %}
                        {% for bound_field in form %}
                            <div class="form-group">
                                {% if forloop.last %}<fieldset style="display:inline">{% endif %}
                                {{ bound_field.label_tag }}
                                {{ bound_field }}
                                {% if forloop.last %}</fieldset>{% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-default pull-right">{% trans "Lend" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}