{% extends 'base.html' %}
{% load i18n %}
{% load library_extras %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ username }}{% trans "'s lendings" %}{% endblock %}
{% block title %}{{ username }}{% trans "'s lendings" %}{% endblock %}
{% block main_container %}
    {% lending_list object_list %}
    {% if is_paginated %}
        <div class="row">
            <div class="col-md-12">
                {% pagination page_obj queries %}
            </div>
        </div>
    {% endif %}
{% endblock %}