{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load lexi_extras %}
{% block page_title %}{% trans "Users" %}{% endblock %}
{% block title %}{% trans "Users" %}{% endblock %}
{% block main_container %}
    <div class="row">
        <div class="col-md-3">
            <table class="table table-hover">
                <tbody>
                    {% for user in object_list %}
                        <tr><td><a href="{% url 'users-current-lendings' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% pagination page_obj queries %}
            {% endif %}
        </div>
    </div>
{% endblock %}