{% extends 'base.html' %}
{% load i18n %}
{% load lexi_extras %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ lender.first_name }} {{ lender.last_name }}{% trans "'s past lendings" %}{% endblock %}
{% block title %}{{ lender.first_name }} {{ lender.last_name }}{% endblock %}
{% block main_container %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Past lendings" %}</h3>
        </div>
        <div class="panel-body">
            {% users_lending_list object_list %}
            {% if is_paginated %}
                <div class="row">
                    <div class="col-md-12">
                        {% pagination page_obj %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}