{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lexi | {% block page_title %}{% endblock %}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block body %}
            {% block navigation %}
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'books' %}">Lexi</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'books' %}">{% trans "Books" %}</a></li>
                            <li><a href="{% url 'advanced-search' %}">{% trans "Advanced search" %}</a></li>
                            <li><a href="{% url 'lendings' %}">{% trans "Lendings" %}</a></li>
                            <li><a href="{% url 'users' %}">{% trans "Users" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock navigation %}

            <div class="container">
                <div class="page-header">
                    <h1>{% block title %}{% endblock %}</h1>
                </div>
                {% block main_container %}

                {% endblock main_container %}
            </div>
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>