{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load thumbnail %}
{% load library_extras %}
<div class="row">
    <div class="col-md-12">
        {% if object_list %}
            {% if search_performed %}
                <div class="alert alert-info">{% trans "Here are the search results:" %}</div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Book title" %}</th>
                        <th>{% trans "Publication year" %}</th>
                        <th>{% trans "Author(s)" %}</th>
                        <th>{% trans "Publisher" %}</th>
                        <th>{% trans "Available" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in object_list %}
                    <tr>
                        <td>
                            {% if book.cover_image %}
                                {% thumbnail book.cover_image "50" crop="center" as im %}
                                    <a href="{{ book.get_absolute_url }}"><img src="{{ im.url }}"/></a>
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'images/noimage.jpg' %}" width="50" />
                            {% endif %}
                        </td>
                        <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
                        <td>{{ book.publication_year }}</td>
                        <td>
                            {% spaceless %}
                                {% for author in book.authors.all %}
                                    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
                                    {% if not forloop.last %}<span>, </span>{% endif %}
                                {% endfor %}
                            {% endspaceless %}
                        </td>
                        <td><a href="{{ book.publisher.get_absolute_url }}">{{ book.publisher }}</td>
                        <td>
                            <!-- <span class="badge">{{ book.book_items.all.count }}</span> /
                            <span class="badge">{{ book.available }}</span> -->
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{% percentage book.available book.book_items.all.count %}" aria-valuemin="0" aria-valuemax="100" style="width: {% percentage book.available book.book_items.all.count %}%">
                                    {% percentage book.available book.book_items.all.count %}% 
                                </div>
                            </div>
                            <!--{{ book.available }} / {{ book.book_items.all.count }}-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif search_performed %}
            <div class="alert alert-danger">{% trans "No books found." %}</div>
        {% endif %}
    </div>
</div>