{% load static %}
{% load i18n %}
{% load lexi_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lexi | {% trans "Welcome" %}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
        <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                {% if user.is_authenticated %}
                    {% navbar user perms %}
                {% endif %}
                <div class="cover-container">
                    <div class="inner cover">
                        <h1 class="cover-heading">
                            {% if user.is_authenticated %}
                                {{ user.first_name }}, {% trans "welcome to Lexi." %}</h1>
                            {% else %}
                                {% trans "Welcome to Lexi" %}</h1>
                            {% endif %}
                        <p class="lead">{% trans "Lexi is an app for managing small libraries." %}</p>
                        {% if not user.is_authenticated %}
                            <p class="lead">
                                <a href="{% url 'login' %}" class="btn btn-lg btn-default">{% trans "Login" %}</a>
                            </p>
                        {% endif %}
                    </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>&copy; Styria 2014.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </body>
</html>


