{% load i18n %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" onmouseover="mouseInNavbar(this)" onmouseout="mouseOutNavbar(this)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Lexi</a>
        </div>
        <div class="collapse navbar-collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Books" %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'books' %}">{% trans "All books" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'tags' %}">{% trans "Tags" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'categories' %}">{% trans "Categories" %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'advanced-search' %}">{% trans "Advanced search" %}</a></li>
                    {% if perms.lending.add_lending %}
                        <li><a href="{% url 'lendings' %}">{% trans "Lendings" %}</a></li>
                        <li><a href="{% url 'users' %}">{% trans "Users" %}</a></li>
                    {% endif %}
                    {% if perms.lending.add_lending_to_self %}
                        <li><a href="{% url 'readme' %}">{% trans "Readme" %}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><p class="navbar-text">{% trans "Signed in as" %} {{ user.first_name }} {{ user.last_name }}</p></li>
                    <li><a href="{% url 'logout' %}" id="logout">{% trans "Logout" %}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script>
    function mouseInNavbar(obj){
        obj.style.backgroundColor = "#2E2E2E";
    }
    function mouseOutNavbar(obj){
        obj.style.backgroundColor = "black";
    }
</script>