<ul class="pagination pull-right">
    {% if page_obj.has_previous %}
        <li><a {% if queries %}href="?{{queries.urlencode}}&amp;page={{ page_obj.previous_page_number }}"
            {% else %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>&laquo;</a></li>
        <li><a {% if queries %}href="?{{queries.urlencode}}&amp;page=1"{% else %}
                    href="?page=1"{% endif %}>{{ 1 }}</a></li>
        <li class="disabled"><a href="#">...</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for num in page_range %}
        {% ifequal num page_obj.number %}
            <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
        {% else %}
            <li><a {% if queries %}href="?{{queries.urlencode}}&amp;page={{ num }}"{% else %}
                href="?page={{ num }}"{% endif %}>{{ num }}</a></li>
        {% endifequal %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="disabled"><a href="#">...</a></li>
        <li><a {% if queries %}href="?{{queries.urlencode}}&amp;page={{ last }}"{% else %}
                    href="?page={{ last }}"{% endif %}>{{ last }}</a></li>
        <li><a {% if queries %}href="?{{queries.urlencode}}&amp;page={{ page_obj.next_page_number }}"
            {% else %}href="?page={{ page_obj.next_page_number }}"{% endif %}>&raquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
<ul>

